*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(
    circle at 50% -20.71%,
    #bae0e6 0,
    #bbe0e9 6.25%,
    #bcdfeb 12.5%,
    #bedfed 18.75%,
    #c0deef 25%,
    #c3ddf0 31.25%,
    #c6dcf1 37.5%,
    #c9dbf2 43.75%,
    #cddaf2 50%,
    #d1d9f2 56.25%,
    #d5d8f1 62.5%,
    #d9d7f0 68.75%,
    #ddd6ee 75%,
    #e1d5ed 81.25%,
    #e4d4ea 87.5%,
    #e8d3e8 93.75%,
    #ebd2e5 100%
  );
}

header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}

main{
    flex-grow: 1;
}

.galeria-container{
    background-image: radial-gradient(
    circle at 50% -20.71%,
    #bae0e6 0,
    #bbe0e9 6.25%,
    #bcdfeb 12.5%,
    #bedfed 18.75%,
    #c0deef 25%,
    #c3ddf0 31.25%,
    #c6dcf1 37.5%,
    #c9dbf2 43.75%,
    #cddaf2 50%,
    #d1d9f2 56.25%,
    #d5d8f1 62.5%,
    #d9d7f0 68.75%,
    #ddd6ee 75%,
    #e1d5ed 81.25%,
    #e4d4ea 87.5%,
    #e8d3e8 93.75%,
    #ebd2e5 100%
  );
    width: 100%;
    height: 100%;
    display: grid;
    gap: 15px;
    grid-auto-rows: 20vh;
    grid-template-areas: 
        "item1 item2 item2 item3"
        "item1 item4 item5 item3"
        "item1 item6 item8 item8"
        "item1 item7 item8 item8"
        ;
    padding: 0 15px;
}

.galeria-itens:nth-child(1){grid-area: item1;}
.galeria-itens:nth-child(2){grid-area: item2;}
.galeria-itens:nth-child(3){grid-area: item3;}
.galeria-itens:nth-child(4){grid-area: item4;}
.galeria-itens:nth-child(5){grid-area: item5;}
.galeria-itens:nth-child(6){grid-area: item6;}
.galeria-itens:nth-child(7){grid-area: item7;}
.galeria-itens:nth-child(8){grid-area: item8;}

.galeria-itens{
    background-color: lightblue;
}

img{
    width: 100%;
    height: 100%;
    border: 10px solid #000;
    object-fit: cover;
    transition: all 0.8s linear;
}

.galeria-itens img:hover{
    transform: scale(110%);
    filter: grayscale(0%);
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}